header, footer, article, section, hgroup, nav, figure, aside {display: block;}
figure {
	margin:0;
	padding:0;
}
.select {    border: 1px dashed #FF0;
    border-radius: 18%;
    size: 11px;
    padding: 4%;}


html {height:100%;}
body {
	margin:0;
	/font:12px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#8a8a8a;
	min-width:1000px;
	background:#fff;
	height:100%;
}

img {border-style:none;}
a {
	color:#8a8a8a;
	text-decoration:underline;
}
a:hover {text-decoration:none;}
input,
textarea,
select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#8a8a8a;
}
form,fieldset{
	margin:0;
	padding:0;
	border:none;
}
#wrapper {        background: #F9F9F9;
	position:relative;
	min-height:100%;
	overflow:hidden;
}
#content {
	float:left;
	width:100%;
}
.c1 {/*margin:0 0 0 154px;*/}
.controls {
	height:1%;
	overflow:hidden;
	padding:26px 13px 0 34px;
	background-color:#484848;
	/*background:url(../images/bg-controls.png);*/
	    background: bisque;
}
.links {float:left;}
.text-section h1 {color:#F00; text-align:center;}.links ul {
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	text-align:center;
}
.text-section button {margin:0 auto;}
.text-section p {text-align:center;}
.links li {
	float:left;
	margin:0 3px 0 0;
	position:relative;
}
.links a {
	float:left;
	border:1px solid #dde2e8;
	background:#fff;
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;
	color:#1f252a;
	font-size:13px;
	line-height:15px;
	height:28px;
	text-decoration:none;
	padding:9px 19px 0 35px;
}
.links a:hover {text-decoration:underline;}
.links .num {
	position:absolute;
	right:-3px;
	top:-8px;
	color:#fff;
	font:bold 10px/18px Arial, Helvetica, sans-serif;
	width:20px;
	height:20px;
	background: #4c95cd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOTVjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc4YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4c95cd 0%, #3c78ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
	background: -webkit-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -o-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -ms-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: linear-gradient(to bottom,  #4c95cd 0%,#3c78ba 100%);
	text-align:center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.links .ico1 {background:#fff url(../images/sprite.png) no-repeat 14px -445px;}
.links .ico2 {background:#fff url(../images/sprite.png) no-repeat 13px -528px;}
.links .ico3 {background:#fff url(../images/sprite.png) no-repeat 11px -637px;}
.profile-box {float:right;}
.btn-on {
	background:url(../images/sprite.png) no-repeat -230px -5px;
	width:35px;
	height:39px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
	margin:19px 0 0 7px;
}







.profile-box .profile {
	float:left;
	border:1px solid #dde2e8;
	background:#fff;
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;
	height:37px;
	    margin: 10% 0% 0 -20%
}
.dropdown {    position: absolute;
    width: 184px;
    height: 80px;
    margin: 3% 0 0 0%;
    color: #FFF;
    background-color:#EEE;
    border-radius: 0%;
	display:none;}
.dropdown ul{text-align:center; color:#FFF; }
.dropdown ul li a:hover{background-color:#09F; width:20px; height:20px; border-radius:5%;}
/*.profile-box ul { display:none; color:#FFF; position:fixed;   }
.profile-box :hover {display:block; margin: 50% 18% 0 0; background-color:#00F;  border-radius: 10px; size:20px;list-style-type:none; position:relative;}
.profile-box ul li a {color:#F00; text-decoration:none;  }
.profile-box ul li:hover   {background-color:#0C0; text-decoration:none; display:block; }
.profile-box ul ul {display:none; position:fixed; background-color:#0C0; border-radius: 10px; float:none;   width: 20%;
  margin: 0% 0 0 -7%; }
.profile-box ul li:hover ul {display:block;}
.profile-box ul ul li {float:none;   }
*/
#subedit{width:200px; height:200px; border:1px #000 dashed;}

#subview




.profile-box .profile .image {
	float:left;
	margin:1px 12px 0 0;
}
.profile-box a {text-decoration:none;}
.profile-box .text-box {
	float:left;
	overflow:hidden;
	color:#a0a0a0;
	font-size:10px;
	line-height:12px;
}
.profile-box .section {
	padding:4px 33px 0 7px;
	float:left;
}
.profile-box a.section {cursor:pointer;}
.profile-box .name {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#4f5f6f;
	font-weight:normal;
}
.profile-box .opener {
	float:left;
	background:url(../images/sprite.png) no-repeat -39px -58px;
	width:32px;
	height:37px;
	overflow:hidden;
	text-indent:-9999px;
	margin-top:10%;
	border-left:1px solid #dde2e8;
}



.tabs {border-top:1px solid #fff;}
.tabs .text-section {
	    background: #e9e9e9;
	padding:19px 0 8px 36px;
	margin: 0 0 0px 15%;
    width: 80%;
}
.tabs h1 {
	text-align:center;
	font-size:18px;
	line-height:20px;
	margin:0 0 8px;
	color:#2b333b;
}
.tabs p {margin:0 0 10px;}
.states {
	list-style:none;
	margin:0;
	padding:0;
}
.states li {
	vertical-align:top;
	margin:0 0 1px;
	padding:9px 5px 12px 55px;
}
.states .error {
	background:#ffdede no-repeat 17px -712px;
	color:#be0000;
}
.states .warning {
	color:#dc6200;
	background:#fff6de url(../images/sprite.png) no-repeat 18px -975px;
}
.states .succes {
	color:#3f5a04;
	background:#dfedc0 url(../images/sprite.png) no-repeat 15px -841px;
}
#sidebar {
	color:#000;
	float:left;
	margin:0 0 0 -100%;
	width:46px;
	padding:18px 1px 0;
}
#sidebar .shadow {
	background:url(../images/bg-shadow.png) no-repeat;
	width:5px;
	height:9999px;
	overflow:hidden;
	text-indent:-9999px;
	position:absolute;
	left:72px;
	top:0;
}
.logo {
	
	width:36px;
	height:44px;
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	margin:0 auto 23px;
	position:relative;
	    margin-bottom: 230%;
	left:1px;
}
.logo a {
	display:block;
	height:100%;
}
.buttons h4 {text-align:center;}
.buttons {
	color:#FFF;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	z-index:2;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
}
.buttons li {
	vertical-align:top;
	margin:0 0 1px;
	position:relative;
}
.buttons a:hover { color:#F36;}
.buttons:hover { color:#909; }
.buttons a {
	text-decoration:none;
	color:#FFF;
	vertical-align:top;
	background: #616a78;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNmE3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDNkNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #616a78 0%, #343d4b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616a78), color-stop(100%,#343d4b));
	background: -webkit-linear-gradient(top,  #616a78 0%,#343d4b 100%);
	background: -o-linear-gradient(top,  #616a78 0%,#343d4b 100%);
	background: -ms-linear-gradient(top,  #616a78 0%,#343d4b 100%);
	background: linear-gradient(to bottom,  #616a78 0%,#343d4b 100%);
	width:150px;
	height:60px;
	display:block;
	overflow:hidden;
	cursor:pointer;
}
.buttons li.active a {
/*	background:url(../images/sprite.png) no-repeat -113px -2px;*/
    color: turquoise;
	margin:0 -21px 0 0;
	padding:0 21px 0 0;
}
.buttons li.active a em {top:40px;}
.buttons a span {
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	width:20px;
	height:20px;
	margin:11px auto 0;
	background:url(../images/sprite.png) no-repeat 9999px 0;
}

.buttons .ico1 span {
	width:19px;
	height:18px;
	background-position:0 0;
}
.buttons .active .ico1 span {background-position:0 -23px;}
.buttons .ico2 span {
	height:19px;
	background-position:-1px -47px;
}
.buttons .active .ico2 span {background-position:-2px -73px;}
.buttons .ico3 span {background-position:-2px -97px;}
.buttons .active .ico3 span {background-position:-2px -126px;}
.buttons .ico4 span {background-position:-2px -153px;}
.buttons .active .ico4 span {background-position:-2px -178px;}
.buttons .ico5 span {background-position:-1px -206px;}
.buttons .active .ico5 span {background-position:-2px -232px;}
.buttons .ico6 span {background-position:-2px -262px;}
.buttons .active .ico6 span {background-position:-3px -291px;}
.buttons .ico7 span {background-position:-4px -321px;}
.buttons .active .ico7 span {background-position:-4px -352px;}
.buttons .ico8 span {background-position:-4px -380px;}
.buttons .active .ico8 span {background-position:-4px -415px;}
.buttons li:hover .tooltip {display:block;}
.buttons .tooltip {
	position:absolute;
	left:61px;
	top:9px;
	color:#3b414d;
	padding:0 6px 0 0;
	background:url(../images/sprite.png) no-repeat 100% -95px;
	height:24px;
	display:none;
	white-space:nowrap;
}
.buttons .tooltip span {
	height:20px;
	float:left;
	padding:4px 3px 0 10px;
	background:url(../images/sprite.png) no-repeat -39px -125px;
}
.buttons .num {
	display:block;
	text-align:center;
	color:#fff;
	background: #950707;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1MDcwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #950707 0%, #610202 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#950707), color-stop(100%,#610202));
	background: -webkit-linear-gradient(top,  #950707 0%,#610202 100%);
	background: -o-linear-gradient(top,  #950707 0%,#610202 100%);
	background: -ms-linear-gradient(top,  #950707 0%,#610202 100%);
	background: linear-gradient(to bottom,  #950707 0%,#610202 100%);
	border-top:2px solid #b01919;
}

#subjectupdate {width:300px; height:250px; border:dashed 1px #000; margin:0 auto; display:none;}
#logo {width:8%;     background-size: contain; height:90px; border:1px dashed #F00; background-image:url(/SubProject/Admin/Admin%20Dashboard/logo.png); margin: 4px 0 0 1%; float:left;}
#header{width:100%; height:165px; border:1px dotted #000;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fac695+0,f5ab66+47,ef8d31+100;Orange+3D+%232 */
background: #fac695; /* Old browsers */
background: -moz-linear-gradient(45deg,  #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fac695), color-stop(47%,#f5ab66), color-stop(100%,#ef8d31)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* IE10+ */
background: linear-gradient(45deg,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.topicupdate{ width:500px; height:500px; border:1px #000 dashed; display:none; margin:0 auto;}
.topicview { width:500px; height:500px; border:1px #000 dashed;}

#adminporfile 
#article #tab-1 button { width:500px;}




#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#fadeadupdate{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;                 
    padding: 10px;
    border: 2px solid #FFF;
    background: #CCC;
    z-index:1002;
    overflow:visible;
}
#adminupdate{
	
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;                 
    padding: 10px;
    border: 2px solid #FFF;
    background: #CCC;
    z-index:1002;
    overflow:visible;
}

#desc {width:400px; height:400px; border:1px dashed #000;}

table{margin:0 auto; text-align:center; width="200px" height="100px"}
table td {text-align:left;}
table th {text-align:left;}  
input[type=submit] {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 56px;
  height: 32px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgb(225,225,225);
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

input[type=submit]:hover {
  color: rgba(135,135,135,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

input[type=submit]:active {
  top: 6px;
  color: rgba(160,160,160,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

input[type=text] {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
input[type=text]:hover {
  border: 1px solid #a3a3a3;
  background: rgba(255,255,255,1);
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

input[type=text]:focus {
  border: 1px solid #018dc4;
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(rowLeftDown.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }